@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

:root {
  --black-300: #1f1f1f;
  --black-200: #2d2d2d;
  --black-100: #3a3a3a;
  --black-400: #050505;
  --white-400: #757575;
  --white-300: #e9e9e9;
  --white-200: #f4f4f4;
  --white-100: #ffffff;
  --purple: #a445ed;
  --red: #ff5252;
  --sansSerif: 'Inter', sans-serif;
  --serif: 'Lora', serif;
  --mono: 'Roboto Mono', monospace;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  font-family: sans-serif;
  background-color: var(--white-100);
  font-family: 'Inter', sans-serif;
}

li {
  list-style-type: none;
}
